*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}
body {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/969/643/744/texture-wallpaper-preview.jpg);
  background-position:center;
  background-size:cover;
  font-family: 'Josefin Sans', sans-serif;
  max-height: 100%;

}
.wrapper {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 max-width: 900px;
 width: 120%;
 background: #fff;
 padding: 25px;
 border-radius: 5px;
 box-shadow: 4px 4px 2px rgba(254, 236, 154, 1);
 margin:40px 40px;
}
.wrapper h1 {
 text-align: center;
 letter-spacing: 3px;
 text-transform: uppercase;
 margin-bottom: 20px;
 color: #332902;
 padding: 50px;
 width:800px;
 border-radius: 10px;
 margin:auto;
 border-radius:15px 15px Opx Opx;

}
.wrapper .left {
 float: left;
 width: 45%;
}
.input-ield input[type="text"]  {
 width: 100%;
 border: 1px solid #e0e0e0;

 padding: 10px;
 margin-bottom: 10px;
}

.wrapper .btn button{
 border: 0;
 margin-top: 5px;
 padding: 10px;
 width: 50%;
 background: #fece0c;
 color: #332902;
 text-transform: uppercase;
 letter-spacing: 5px;
 font-weight: bold;
 border-radius: 25px;
 cursor: pointer;
 margin-left: 200px;
 margin-bottom: 60px;
}
.wrapper .error-message {
 margin-bottom: 20px;
 padding: 0px;
 background: #f38b8e;
 text-align: center;
 font-size: 14px;
 transition: all 0.5s ease;

}
.Gender {
 font-family: 'Roboto', sans-serif !important;
 font-weight: lighter;
}
.wrapper .right {
 float: right;
 width: 45%;
}


  
  form{
  padding:4px;
  }
  
  
  
  .option{
  position:relative;
  left:200px;
  top:-37px;
  line-height: 40px;
  width:532px;
  height:40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
  outline: none;
  overflow: hidden; 
  }
  
  
  .option option{
  
  font-size: 20px;
  
  }

  
  button:hover{
    cursor: pointer;
    transform: translateY(-10px);
  }

